body {
    font-family: "Roboto", sans-serif;
    background-color: rgba(91, 74, 63, 0.927);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  /* ========================== Header ==========================*/
  
  .wrapper {
    padding: 0 40px;
  }
  
  .header {
    background-color: rgba(179, 147, 126, 0.927);
  }
  
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    align-items: center;
  }
  
  .logo {
    font-weight: bold;
    font-size: 26px;
  }
  
  .menu {
    display: flex;
    list-style: none;
  }
  
  .menu__item {
    position: relative;
    margin: 0 20px;
  }
  
  .menu__item::before {
    content: "";
    width: 0;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: -5px;
    left: -20px;
    margin: 0 20px;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
  }
  
  .menu__item:hover::before {
    width: 100%;
    background-color: rgb(194, 184, 175);
  }
  
  .menu__item a:hover {
    color: rgb(194, 184, 175);
  }
  
  a {
    text-decoration: none;
    color: rgb(60, 50, 40);
  }
  