body {
    font-family: "Dancing Script", sans-serif;
    background-color: rgba(91, 74, 63, 0.927);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  /* Header */
  
  .wrapper {
    padding: 0 40px;
  }
  
  .header {
    background-color: rgba(179, 147, 126, 0.927);
  }
  
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    align-items: center;
  }
  
  .logo {
    font-weight: normal;
    font-size: 30px;
  }
  
  .menu {
    display: flex;
    list-style: none;
  }
  
  .menu__item {
    position: relative;
    margin: 0 20px;
  }
 
  
  a {
    text-decoration: none;
    color: rgb(60, 50, 40);
  }

  /*main*/
  .preview{
    width: 50%;
  }

  .preview_headder{
    padding-top: 60px;
    text-align: center;
    color:rgb(7, 6, 5)
  }
  .preview_text{
    width: 500px;
    text-align: center;
    background-color:rgba(238, 210, 191, 0.927);
    
  }
  
  .preview_image{
    border-radius: 40;
  }

  /*foot*/
  .footer {
    background-color:  rgb(179, 147, 126, 0.927);
    color: rgb(60, 50, 40);
    padding: 30px;
    font-weight: 300;
  }

  
  
  .footer ul {
    list-style: none;
  }
  
  .footer-info__item {
    margin: 10px 0;
  }
  
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }